.window{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .65);
    z-index: 1000;
}
.content {
    width: 500px;
    height: 250px;
    font-family: "Lato";
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: #ff4242;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header{
    font-weight: 700;
    font-size: 25px;
    padding: 15px 0 15px 20px;
    background-color: #cacaca30;
    border-radius: 10px 10px 0px 0px;
}

.closeBtn {
    font-size: 35px;
    line-height: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    float: right;
    margin: 10px;
}

.text {
    font-size: 16px;
    height: 100px;
    display: flex;
    text-align: center;
    line-height: 37px;
    justify-content: center;
    align-items: center;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

