.btnContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 600px;
}
.buttonForDeleteModal {
    position: relative;
    box-sizing: border-box;
    background-color: #ff1919;
    color: #fff;
    border-radius: 3px;
    width: 90px;
    height: 35px;
    border: none;
    margin-right: 15px;
    cursor: pointer;
    transition: .3s ease;
}

.buttonForDeleteModal:hover {
    background: lighten(#ff1919, 1%);
} 

.buttonForDeleteModal:before, .buttonForDeleteModal:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
}

.buttonForDeleteModal:before {
    bottom: 0;
    left: 0;
    border-left: 1px solid white;
    border-top: 1px solid white;
    transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}

.buttonForDeleteModal:after {
    top: 0;
    right: 0;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}

.buttonForDeleteModal:hover:before, 
.buttonForDeleteModal:hover:after {
    height: 100%;
    width: 100%;
    opacity: 1;
}

.buttonForDeleteModal:hover:before {
    transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}

.buttonForDeleteModal:hover:after {
    transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}

.buttonForDeleteModal:hover {
    background: rgba(255, 255, 255, .2);
}
